.textFornecedor {
  margin-top: 20px;
  text-align: center;
  color: rgb(101, 137, 253);
  font-weight: bold;
}

.btnVincularFornecedor {
  margin-top: 8px;
  margin-bottom: -40px;
}

.formFiltro {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputAddTelefone {
  margin-top: 8px;
}

.btnAddTelefone,
.inputAddTelefone {
  margin-bottom: 8px;
}

.textAddTelefone {
  text-align: center;
  margin-top: 10px;
}
